<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete Category</title>
</head>

<body>
    <h1>Delete <%=category.name %>
    </h1>

    <% if (items.length) { %>
        <p>These are the items under the above category. Delete Them before attempting to delete the category</p>
        <% items.forEach(function(item){ %>
            <li>
                <a href="<%= item.url %>">
                    <%= item.name %>
                </a>
            </li>
            <% }); %>

        <% } else { %>
            <!-- Code for the "else" block goes here -->
            <p>DO you really want to delete this category.</p>
            <form method="post">
                <div>
                    <input type="hidden", name="categoryid", value="<%= category._id%>">
                </div>
                <button type="submit">Delete</button>
            </form>
            <% } %>
</body>

</html>
